<h1>Flashcards: <%= @round.deck.name %></h1>
<% if @feedback %>
<h3><%= @feedback %></h3> 
<% end %><!-- Problem getting @previous_question_feedback to be accessible after redirect -->
<h2>Question: </h2> <br>
<%= @card.question %>

<form action="/guesses" method="post">
  <input type="hidden" name="card_id" value="<%=@card.id%>">
  <input type="hidden" name="round_id" value="<%=@round.id%>">
  <input type="text" name="answer" placeholder="type your answer here...">
  <input type="submit">
</form>
